
<div class="row my-4">
    <div class="col-md-4">
        <div>
            <img src="https://image.tmdb.org/t/p/w500/{{trendingDetails.profile_path}}" class="w-100">

        </div>
    </div>
    <div class="col-md-8">
        <div>
            <h2 class="mb-2">{{trendingDetails.name}}</h2>
            <h3 class="mb-2 text-danger">Place of Birth : <span
                    class="text-info">{{trendingDetails.place_of_birth}}</span></h3>
            <h3 class="mb-2 text-danger">Birthday : <span class="text-info">{{trendingDetails.birthday}}</span></h3>
            <p class="mb-2">{{trendingDetails.biography}}</p>


        </div>
    </div>
</div>




<div class="row my-5">


    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mb-2 mb-2 my-2"
        *ngFor="let actorMovie of actorMovies | paginate: { itemsPerPage: 20, currentPage: p }">
        <div class="item text-center">
            <div class="poster position-relative">
                <img src="https://image.tmdb.org/t/p/w500/{{actorMovie.poster_path}}" class="mb-2 img-fluid"
                    routerLink='/details/movie/{{actorMovie.id}}'>
                <h6 class="my-2" routerLink='/details/movie/{{actorMovie.id}}'>{{actorMovie.original_title}}</h6>



            </div>

        </div>
    </div>


</div>


<pagination-controls (pageChange)="p = $event"></pagination-controls>
