<input class="form-control site-search" [(ngModel)]="searchText"
    placeholder="Search Movies or TVShow">
<div class="container">
<div class="row py-5">
    <div class="col-md-4 d-flex align-items-center">
        <div>
             <div class="brdr w-25 mb-4"></div>
<h2 class="text-white">Trending Movies To Watch <br/>Right Now</h2>
<div class="brdr w-75 mt-4 text-info"></div>
</div>
</div>
    <div *ngFor='let movie of trendingMovies' class="col-md-2">
        <div class="movie my-2 position-relative">
        <img class="w-100" [src]="imgPrefix+movie.poster_path" alt="">
        <h3 class="my-2 h6 text-center text-white">{{movie.title}}</h3>
     <div class="vote">{{movie.vote_average}}</div>
    </div>
</div>
</div>
<div class="middle w-50"></div>
<div class="row py-5">
    <div class="col-md-4 d-flex align-items-center">
        <div>
    <div class="brdr w-25 mb-4"></div>
<h2 class="text-white">Trending Tv To Watch <br/>Right Now</h2>
<div class="brdr w-75 mt-4"></div>
</div>
</div>
    <div *ngFor='let tv of trendingTv' class="col-md-2">
        <div class="movie my-2 position-relative">
        <img class="w-100" [src]="imgPrefix+tv.poster_path" alt="">
        <h3 class="my-2 h6 text-center text-white">{{tv.name}}</h3>
     <div class="vote">{{tv.vote_average}}</div>
    </div>
</div>
</div>
</div>
